.wrapper {
	&__button {
		width: 200px;
		height: 40px;
		border-radius: 5px;
		font-size: xx-small;
		font-weight: 700;
		cursor: pointer;
		color: #e9b118;
		background-color: rgb(78, 76, 76);
		text-transform: uppercase;
		box-shadow: 0 5px 1px 0 rgba(0, 0, 0, 0.2);
	}
	&__button:active {
		position: relative;
		top: 2px;
		box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.2);
	}
}

